[user]
    email = adam.labbe@generac.com
    name = Adam Labbe

[push]
    default = simple

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[core]
    excludesfile = ~/.gitignore_global
    pager = less -F -X

[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines. Merged shows partially merged so far.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # BASE shows the root base before any auto-merges
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[alias]
    lg = log --graph --abbrev-commit --decorate   --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(auto)%d%C(reset)%n''          %C(bold white)%s%C(reset)%n''          %C(white)- %an <%ae> %C(reset)' --all
    delcheck = log --graph --left-right --cherry-pick --oneline master...
    closeout = !delbranch=$(git rev-parse --abbrev-ref HEAD) && git fetch -Ppat && git checkout master && git rebase && git branch -d ${delbranch}
    orphank = !gitk --all $(git reflog --format=format:%h)
    orphanl = !git log --pretty=oneline --abbrev-commit --graph --decorate `git reflog | cut -d ' ' -f 1`
    gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}'
[rerere]
    enabled = 1
[rebase]
    instructionFormat = %an %s
[pull]
    rebase = true
[color]
    ui = true
[pager]
    tag = false
[tag]
    sort = version:refname
