[user]
    email = adamlabbe@gmail.com
    name = Adam Labbe
[push]
    default = simple
[diff]
    tool = kdiff3
[difftool "kdiff3"]
    trustExitCode = false
    cmd = "kdiff3" $BASE $LOCAL --qall
[core]
	pager = cat
	excludesfile = ~/.gitignore_global

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[rerere]
	enabled = 1
[rebase]
	instructionFormat = %an %s
[pull]
	rebase = true
[color]
	ui = true
