[user]
    email = adamlabbe@gmail.com
    name = Adam Labbe
[push]
    default = simple
[diff]
    tool = kdiff3
[difftool "kdiff3"]
    trustExitCode = false
    cmd = "kdiff3" $BASE $LOCAL --qall
[core]
	pager = cat
	excludesfile = ~/.gitignore_global

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
    lg = log --graph --abbrev-commit --decorate   --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(auto)%d%C(reset)%n''          %C(bold white)%s%C(reset)%n''          %C(white)- %an <%ae> %C(reset)' --all
[rerere]
	enabled = 1
[rebase]
	instructionFormat = %an %s
[pull]
	rebase = true
[color]
	ui = true
