#!/bin/bash
# Generic stuff to be run whenever window manager is brought up.
# Manually sourced by .xsession if using a desktop manager, or by .xinitrc is using startx
xrdb -merge ~/.Xresources &
dbus-update-activation-environment --systemd DISPLAY
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK
